<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratekeys获取自增主键值(默认是false)-->
        <!--比如说我们写一个插入语句，我们不写自增主键的值（id），id通过自增去复制-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名　　默认值为就是true
        select name as title(实体中的属性名是title) form table;
        开启后mybatis会自动帮我们把表中name的值赋到对应实体的title属性中
        -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换,Table:create_time到 Entity(createTime)(默认是false)-->
        <!--一般数据库的命名规范是下划线，java中的命名规范是驼峰命名规范-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--其他配置，数据库，事务，交给Spring-->
</configuration>